<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<div class="jumbotron mb-0">
			<h1 class="display-4">Novo Pedido</h1>
		</div>
		
		<form action="/pedido/novo" method="POST">
			<div>
				<label for="nomeProduto">Produto</label>
				<input name="nomeProduto" placeholder="Digite o nome do produto"/>
				<small>Informe o nome do produto</small>
			</div>
			
			<div>
				<label for="urlProduto">Url</label>
				<input name="urlProduto" placeholder="Digite o link do produto"/>
				<small>Informe o link produto</small>
			</div>
			
			<div>
				<label for="urlImagem">Imagem</label>
				<input name="urlImagem" placeholder="Digite o link da imagem"/>
				<small>Informe o link da imagem</small>
			</div>
			
			<div>
				<label for="descricao">Descricao</label>
				<textarea name="descricao" placeholder="Digite uma descrição para o produto"></textarea>
			</div>
			
			<button type="submit">Cadastrar</button>
		</form>
	</div>
</body>
</html>